.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px;
  background-color: #ffffff;
}

.header-logo-container {
  display: flex;
  align-items: center;
}

.header-logo {
  height: 40px;
  width: auto;
}
